/* Import Silkscreen font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* Styles for the body element */
body {
    background-color: rgb(216, 215, 215); /* Set background color */
    box-sizing: border-box;
    align-items: center; /* Center content vertically */
    display: flex;
    justify-content: center; /* Center content horizontally */
    height: 100vh; /* Adjusted to fill the viewport */
    margin: 0; /* Remove margin */
}

/* Container for calculator */
.content {
    width: 100%;
    max-width: 400px; /* Adjusted for responsiveness */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Styles for the calculator interface */
.calculator {
    background-color: rgb(141, 149, 156); /* Set background color */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add border radius */
}

/* Styles for div elements inside the calculator form */
.calculator form div {
    margin-bottom: 10px; /* Add margin bottom */
}

/* Styles for the input field */
.calculator form input[type="text"] {
    font-style: inherit;
    width: 260px; /* Set width */
    height: 60px; /* Set height */
    border-radius: 5px; /* Add border radius */
    padding: 0 10px; /* Add padding */
    margin-bottom: 10px; /* Add margin bottom */
}

/* Styles for button elements */
.calculator form input[type="button"] {
    width: 60px; /* Set width */
    height: 60px; /* Set height */
    border-radius: 7px; /* Add border radius */
    background-color: rgb(141, 149, 156); /* Set background color */
    margin-right: 10px; /* Add margin right */
}

/* Styles for the equal button */
.calculator form input[value="="] {
    width: 135px; /* Adjust width to accommodate two characters */
}

/* Styles for the "On/Off" button */
.calculator form input[id="onOffButton"] {
    border-color: red; /* Set border color to red */
}

.calculator form button{
    width: 60px; /* Set width */
    height: 60px; /* Set height */
    border-radius: 7px; /* Add border radius */
    background-color: rgb(141, 149, 156); /* Set background color */
    margin-right: 10px; /* Add margin right */
}

/* Styles for label elements */
label {
    text-align-last: right; /* Set text alignment */
    font-size: 10px; /* Set font size */
    font-style: italic; /* Set font style */
}

/* Styles for elements with the class "display" */
.display {
    font-family: "Silkscreen", sans-serif; /* Set font family */
    font-weight: 600; /* Set font weight */
    font-style: normal; /* Set font style */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Add styles for the label */
.display label {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700; /* Bold */
    font-size: 16px; /* Adjust font size as needed */
    color: #fff; /* Text color */
}

/* Add styles for the span */
.display span {
    font-family: "Silkscreen", sans-serif;
    font-weight: 300; /* Regular */
    font-size: 16px; /* Adjust font size as needed */
    color: #fff; /* Text color */
    display: inline-block; /* Ensure it takes up only necessary space */
    width: 90%;
    height: 40px;
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    background-color: #c2c2c2; /* Background color */
}

.calculator form input[value="%"] {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background-color: rgb(141, 149, 156);
    margin-right: 10px;
    font-size: 24px; /* Adjust font size */
    color: #fff; /* Text color */
}
.calculator form input[value="("] {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background-color: rgb(141, 149, 156);
    margin-right: 10px;
    font-size: 24px; /* Adjust font size */
    color: #fff; /* Text color */
}

.calculator form input[value=")"] {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background-color: rgb(141, 149, 156);
    margin-right: 10px;
    font-size: 24px; /* Adjust font size */
    color: #fff; /* Text color */
}

.calculator form input[value="√"] {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background-color: rgb(141, 149, 156);
    margin-right: 10px;
    font-size: 24px; /* Adjust font size */
    color: #fff; /* Text color */
}



